.first-image {
  background-image: url(/src/assets/women.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.navbar {
  background-color: #1d2330;
}
.navbar-brand {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-left: 60px;
}
.navbar-brand:hover {
  color: black;
}
.navbar-toggler-icon {
  color: white;
  font-size: 40px;
}

.margin {
  margin-left: auto;
  margin-right: 60px;
}
.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: right;
  text-decoration: none;
  margin-left: 15px;
}
.nav-link:hover {
  color: black;
}
.dropdown-toggle:hover {
  color: black;
}
.fa {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
}
.getstarted a span {
  position: absolute;
  height: 70px;
  color: #ff497c;
  left: 0;
  top: 0;
}

.web {
  background-color: transparent;
  color: white;
  font-size: 70px;
  text-align: left;
  padding-left: 50px;
  padding-top: 200px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.getstarted {
  font-size: 20px;
  background-color: transparent;
  color: white;
  padding: 20px 25px;
  border: solid #ff497c;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  position: relative;
}
.getstarted:hover {
  background: #ff497c;
  transition: 0.5s;
}
.card1 {
  margin-top: 100px;
  border: none;
  background: #ff497c;
  width: 340px;
  height: 320px;
  padding-left: 20px;
}
.card1 i {
  font-size: 50px;
  float: left;
  padding-right: 250px;
  color: white;
  margin-top: 30px;
  padding-bottom: 20px;
}
.head {
  font-size: 25px;
  margin-top: 20px;
  float: left;
  color: white;
}
.head:after {
  content: "";
  margin-top: 10px;
  width: 80px;
  height: 3px;
  display: block;
  background: white;
}
.text {
  margin-top: 30px;
  float: left;
  text-align: left;
  color: white;
}
@media (max-width: 786px) {
  * {
    padding: 0;
    margin: 0;
  }
  .text p {
    font-size: 30px;
  }
}

@media (max-width: 786px) {
  .navbar-brand {
    font-size: 18px;
    margin: 0;
  }
  .web {
    font-size: 30px;
    padding-left: 30;
  }
  * {
    width: auto;
  }
}
