.news-heading {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.news-content i {
  color: white;
}
.news-main p {
  text-align: center;
  justify-content: center;
}
.news-box {
  position: relative;
  width: 300px;
  height: 300px;
  background: pink;
}
.news-box .news-imgbox {
  position: relative;
  overflow: hidden;
}
.news-box .news-imgbox img {
  width: 100%;
  transition: transform 2s;
}
.news-box:hover .news-imgbox img {
  transform: scale(1.2);
}
.news-box .news-details {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  display: block;
}

.news-box .news-details .news-content {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: white;
}
.news-box .news-details .news-content h3 {
  color: white;
  font-size: 20px;
  padding-left: 83px;
}
.news-box .news-content p {
  color: white;
  font-size: 20px;
  margin-top: -70px;
  position: relative;
}
.news-box:hover .news-content p {
  margin-top: -100px;
  transition: 1s;
}
.news-box .news-content h3 {
  color: white;
  font-size: 20px;
  margin-top: -10px;
  position: relative;
}
.news-box:hover .news-content h3 {
  margin-top: -17px;
  transition: 1s;
}
.news-box .news-content i {
  color: white;
  font-size: 20px;
  margin-top: 0px;
  position: relative;
}
.news-box:hover .news-content i {
  margin-top: -7px;
  transition: 1s;
}
@media (max-width: 786px) {
  .news-main {
    width: 90%;
  }
  .news-main p {
    font-size: 10px;
  }
  .news-heading {
    font-size: 40px;
  }
  * {
    padding-left: 0;
    padding-right: 0;
  }
}
