.first-image {
  background-image: url(/src/assets/women.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.navbar {
  background: transparent;
  color: white;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar.active {
  background: #1d2330;
}

.title {
  margin-top: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-left: 50px;
  text-decoration: none;
}
.title:hover {
  color: white;
}
.margin {
  margin-left: 350px;
  margin-top: 20px;
}
.nav-list {
  margin-top: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 30px;
}
.nav-icon {
  color: white;
}

.nav-list:hover {
  color: white;
}
.dropdown-toggle:hover {
  color: white;
}
.fa {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
}
.navbar-toggler-icon {
  color: white;
  font-size: 40px;
}

.getstarted a span {
  position: absolute;
  height: 70px;
  color: #ff497c;
  left: 0;
  top: 0;
}

.web {
  background-color: transparent;
  color: white;
  font-size: 70px;
  text-align: left;
  padding-left: 50px;
  padding-top: 200px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.getstarted {
  font-size: 20px;
  background-color: transparent;
  color: white;
  padding: 20px 25px;
  border: solid #ff497c;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  position: relative;
}
.getstarted:hover {
  background: #ff497c;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .to-right {
    margin-bottom: 100px;
  }
  .first-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
  }
  .web {
    font-size: 35px;
  }
}
@media (max-width: 786px) {
  .title {
    font-size: 33px;
    margin-left: 0px;
    margin-top: 3px;
  }
  .margin {
    background-color: black;
    margin-right: 0px;
  }
  .fa {
    font-size: 25px;
    margin-left: 80px;
  }
  .first-image {
    width: 87%;
  }
}
