.space {
  margin-left: 160px;
}
.card1 {
  margin-top: -350px;
  border: none;
  background: #ff497c;
  margin-left: 10px;
  width: 340px;
  height: 320px;
  padding-left: 20px;
}

.card1 i {
  font-size: 50px;
  float: left;
  padding-right: 250px;
  color: white;
  margin-top: 30px;
  padding-bottom: 20px;
}

.head {
  font-size: 25px;
  margin-top: 20px;
  float: left;
  color: white;
}
.head:after {
  content: "";
  margin-top: 10px;
  width: 80px;
  height: 3px;
  display: block;
  background: white;
}
.text {
  margin-top: 30px;
  float: left;
  text-align: left;
  color: white;
}
@media (max-width: 786px) {
  .text p {
    font-size: 30px;
  }
  .media {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
