.image {
  height: 100vh;
  width: 110%;
}
.heading h1 {
  text-align: left;
  padding-left: 70px;
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
.heading p {
  text-align: left;
  padding-left: 73px;
  color: #ff497c;
  font-weight: bold;
}
.text p {
  font-size: 22px;
  padding-left: 70px;
  opacity: 0.7;
  padding-top: 30px;
  padding-bottom: 150px;
}
.writter p {
  color: black;
  font-size: 18px;
  text-align: left;
  padding-left: 65px;
  font-weight: bold;
}
@media (max-width: 786px) {
  .success-margin {
    justify-content: left;
    text-align: left;
  }
  .image {
    width: 100%;
    height: 70vh;
  }
  .success-media {
    width: 50%;
  }
  .heading h1 {
    padding-left: 10;
  }
  .heading p {
    padding-left: 10;
  }
  .writter p {
    padding-left: 10;
  }
  .success-padding {
    width: 50%;
  }
  .lorem {
    font-size: 10px;
    padding: 0;
  }
}
